<link href="../framework/css/homePage.css" rel="stylesheet"/>

 <div class="container-fluid" style="margin-top:-1.5%;"id="content">
    <!--<div class="row">
      <div class="col-xs-12 homepage-background-color">
          <p id="welcome-text"  class="wordwrap welcome-text align-center">Start your buisness today.</p>
          <img class="align-center img-hompage-background-1" src="https://s20.postimg.org/h3lx1nrgt/Screenshot_2017-10-08_19.48.22.png" alt="Unregistered Home Page Back Ground" />
      </div>
  </div>

-->

<div class="row " style="background-image:url('images/blue-background.png');background-size:100% auto">
    <div class="col-xs-12 text-center " >
        <p id="welcome-text" class="wordwrap align-center welcome-text">Start your buisness today.</p>
        <p style="margin-bottom:2%;font-size:18px;"> Join our community and enjoy buisness coverage worldwide. Be both<br> a seller 
            or a buyer with the same account.  </p>

     
        <div class="home-buttons">
            <button   class="btn align-center inline-block home-button-join" >Join Now</button>
            <button   class="btn align-center inline-block home-button-view" >View Listing</button>
        </div>

        <img class="align-center" src="images/online-shopping.png" style="width:40%"/>
    </div>
  </div>




  <!--
  <div class="row">
    <div class="col-xs-12 join-button">
       <p class="text-center join-button-text">Join Our Community</p>
    </div>
  </div>
-->
  <div class="row">
    <div class="col-xs-4 text-center appear-1" >
        <span class="glyphicon glyphicon-shopping-cart glyphicon-welcome"></span>
        <p class="glyphicon-welcome-text">Buy</p>
        <p class="glyphicon-welcome-desc">Buy Items from Merchants worldwide.</p>
        <span class="glyphicon glyphicon-menu-right pull-right glyphicon-welcome-arrow"></span>
    </div>
    <div class="col-xs-4 text-center appear-2">
        <span class="glyphicon glyphicon-credit-card glyphicon-welcome"></span>
        <p class="glyphicon-welcome-text">Pay</p>
        <p class="glyphicon-welcome-desc">Checkout securely with PayPal. </p>
        <span style="margin-right:-10%;"class="glyphicon glyphicon-menu-right pull-right glyphicon-welcome-arrow"></span>
    </div>
    <div class="col-xs-4 text-center appear-3">
       
        <span class="glyphicon glyphicon-globe glyphicon-welcome"></span>
        <p class="glyphicon-welcome-text glyphicon-welcome-text-3">Receive</p>
        <p class="glyphicon-welcome-desc">Receive your merchandize anywhere. </p>
    </div>
  </div>
