 <link href="framework/css/individualproduct.css" rel="stylesheet"/>
<!--Picture/Carousal--> 
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                
                    <!-- Indicators -->
                <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                 <div class="carousel-inner">
                    <div class="item active">
                        <img src="images/rb13.jpg" alt="pic1">
                    </div>
                
                <div class="item">
                        <img src="images/rb13_car.jpg" alt="pic2">
                </div>

                <div class="item">
                        <img src="images/rb13_car2.jpg" alt="pic3">
                </div>
            </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

            </div>
    
    <!--Product Details-->
            <div class="col-sm-7 col-xs-12">
                <span class="pull-right =" style="color:red; font-size: 16px" data-ng-if="!loggedin">Interested in buying? <button data-ng-click="gotoLogin()" style="margin-right: 0px" class="btn btn-sm btn-login" id="login-btn">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                    </button> or <button data-ng-click="gotoRegister()"  class="btn btn-sm btn-register">
                    <span class="glyphicon glyphicon-bookmark"></span> Register!
                    </button></span>
                <h1 class="productName">{{product.productName}} 
                    <span class="pull-right form-inline" style="width:40%" data-ng-if="loggedin && product.accountID != userdata.accountID">
                        <button class="btn btn-success addToCart"  value="Submit" data-ng-click="addToCart(product,quantityToBuy)" data-ng-disabled="quantityToBuy==0 || quantityToBuy==null || !loggedin" data-html="true" data-toggle="popover" title="Added {{quantityToBuy}} <strong>{{product.productName}}</strong>" data-content="You just added an item to the cart!" data-trigger="focus" data-placement="bottom"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        <input type="number" value="{{quantityToBuy}}" class="form-control" style="width: 40%" data-ng-model="quantityToBuy" onkeydown="javascript: return event.keyCode == 69 ? false : true"/>
                    </span>
                </h1>
                <span class="rating">
                    <label for="star1" data-ng-class="{'gold': isGold(1,product.averageRating)}" title="text">★</label>
                    <label for="star2" data-ng-class="{'gold': isGold(2,product.averageRating)}" title="text">★</label>
                    <label for="star3" data-ng-class="{'gold': isGold(3,product.averageRating)}" title="text">★</label>
                    <label for="star4" data-ng-class="{'gold': isGold(4,product.averageRating)}" title="text">★</label>
                    <label for="star5" data-ng-class="{'gold': isGold(5,product.averageRating)}" title="text">★</label>
                </span>
                <hr/>
                <h4><strong>Price: <span style="color: red;">RM {{product.price}}</span></strong></h4>
                <h4><strong>Stock left: <span data-ng-style="inStock">{{product.stock}}</span></strong></h4>
                <br/>
                <h4><strong>Details</strong></h4>
                <p class="details">{{product.description}}</p>
            </div>
        </div>
        
    <!--Extra Details-->
        <div class="row extraDetails">
            <div class="col-md-12">
                <h4><strong>Extra Details</strong></h4>
                <p class="details">{{product.extraDetails}}
                </p>
                <hr style="margin-bottom: 0px;"/>
            </div>
        </div>
    <!--Rating & Comments-->
    <div class="row">
        <div class="col-xs-12">
            <h3><strong>Customer Reviews</strong>
                <button class="btn btn-warning btn-lg pull-right" data-ng-if="accountID != null && product.accountID != userdata.accountID" style="margin-top: -10px" data-ng-click="openReviewForm()" data-toggle="modal" data-target="#reviewForm"><span class="glyphicon glyphicon-pencil"></span> Write a review</button></h3>
        </div>
    </div>
    
        <div class="row" data-ng-repeat="rating in productRatings | orderBy:datePosted:true" style="margin-top: 20px;">
            <div class="col-xs-12">
                <span class="rating">
                    <label for="star1" data-ng-class="{'gold': isGold(1,{{rating.rating}})}" title="text">★</label>
                    <label for="star2" data-ng-class="{'gold': isGold(2,{{rating.rating}})}" title="text">★</label>
                    <label for="star3" data-ng-class="{'gold': isGold(3,{{rating.rating}})}" title="text">★</label>
                    <label for="star4" data-ng-class="{'gold': isGold(4,{{rating.rating}})}" title="text">★</label>
                    <label for="star5" data-ng-class="{'gold': isGold(5,{{rating.rating}})}" title="text">★</label>
                </span>
                <span><strong>{{rating.title}}</strong> <button class="btn btn-xs btn-danger" style="margin-top: -10px" data-ng-if="accountID != null && accountID === rating.accountID" data-toggle="modal" data-target="#confirmation" data-ng-click="selectReview(rating)">Delete review</button></span>
                <span class="pull-right"><strong>review by <a href="#!/user/{{rating.username}}">{{rating.username}}</a></strong><br /> Posted on: {{rating.datePosted}}</span>
            </div>
            <div class="col-xs-12">
                <p>{{rating.comment}}</p>
            </div>

            <div class="col-xs-12">
                <div class="divider"></div>
            </div>
        </div>

        <!-- Modal -->
        <div id="confirmation" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm review deletion</h4>
              </div>
              <div class="modal-body">
                <p data-ng-if="!successDeleteReview">Are you sure you want to delete your review?</p>
                   <p class="rating">
                    <label for="star1" data-ng-class="{'gold': isGold(1,selectedReview.rating)}" title="text">★</label>
                    <label for="star2" data-ng-class="{'gold': isGold(2,selectedReview.rating)}" title="text">★</label>
                    <label for="star3" data-ng-class="{'gold': isGold(3,selectedReview.rating)}" title="text">★</label>
                    <label for="star4" data-ng-class="{'gold': isGold(4,selectedReview.rating)}" title="text">★</label>
                    <label for="star5" data-ng-class="{'gold': isGold(5,selectedReview.rating)}" title="text">★</label>
                    </p> 
                    <p><strong>{{selectedReview.title}}</strong></p>
                    <p>
                        {{selectedReview.comment}}
                    </p>
                  <p>Posted on: {{selectedReview.datePosted}}</p>
                <p data-ng-if="successDeleteReview" class="alert alert-success">
                    Successfully deleted your review!
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-if="!successDeleteReview">Cancel</button>
                <button type="submit" class="btn btn-danger" data-ng-click="deleteReview(selectedReview.ratingID)" data-ng-if="!successDeleteReview">Delete</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" data-ng-if="successDeleteReview">Close</button>
              </div>
            </div>

          </div>
        </div>
        
        <div id="reviewForm" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                <h2 class="modal-title">Review your purchase!</h2>
              </div>
              <div class="modal-body">
                <div class="row" id="commentRatings" data-ng-if="!showReviewSummary" >
                    <form name="CommentandRate" id="commentRateForm">	
                        <!--Rating-->
                        <div class="col-xs-12">
                        <div class="rate" id= "rate">
                        <input class="star" type="radio" data-ng-model="reviewForm.reviewRating" id="star5" name="rate" value="4" />
                        <label  for="star5" title="text">★</label>

                        <input class="star" type="radio" data-ng-model="reviewForm.reviewRating" id="star4" name="rate" value="4" />

                        <label for="star4" title="text">★</label>

                        <input class="star" type="radio" data-ng-model="reviewForm.reviewRating" id="star3" name="rate" value="3" />

                        <label for="star3" title="text">★</label>

                        <input class="star" type="radio" data-ng-model="reviewForm.reviewRating" id="star2" name="rate" value="2" />

                        <label for="star2" title="text">★</label>

                        <input class="star" type="radio" data-ng-model="reviewForm.reviewRating" id="star1" name="rate" value="1" />

                        <label for="star1" title="text">★</label>
                        </div>
                        </div>	

                        <div class="form-group col-xs-12">
                          <label for="reviewTitle">Title</label>
                          <input type="text" class="form-control" id="reviewTitle" placeholder="This is the headline or summary of your review (required)." data-ng-model="reviewForm.reviewTitle"/>
                        </div>
                        <div class="form-group col-xs-12">
                          <label for="review">Your Review</label>
                            <textarea class="form-control" id="review" placeholder="{{'You can write your review here! (required). Write your thoughts or experiences with this item that you bought.\n\nConsider writing:\nWhy did you choose the rating?\n Why do you like or dislike the item?\nWho would you reccommend this to?'}}" data-ng-model="reviewForm.review"></textarea>
                        </div>
                    </form>
                </div>
                <div class="row alert" data-ng-if="showReviewSummary" data-ng-class="submittedReview? 'alert-success':'alert-info'">
                     <p class="rating ratingSummary">
                        <label for="star1" data-ng-class="{'gold': isGold(1,reviewForm.reviewRating)}" title="text">★</label>
                        <label for="star2" data-ng-class="{'gold': isGold(2,reviewForm.reviewRating)}" title="text">★</label>
                        <label for="star3" data-ng-class="{'gold': isGold(3,reviewForm.reviewRating)}" title="text">★</label>
                        <label for="star4" data-ng-class="{'gold': isGold(4,reviewForm.reviewRating)}" title="text">★</label>
                        <label for="star5" data-ng-class="{'gold': isGold(5,reviewForm.reviewRating)}" title="text">★</label>
                    </p>
                    <p style="font-size: 16px"><b>Title: </b> {{reviewForm.reviewTitle}}</p>
                    <p style="font-size: 16px"><b>Your review:</b><p>
                    <p style="font-size: 16px">{{reviewForm.review}}</p>
                </div>
              </div>
              <div class="modal-footer">
                    <div class="col-xs-12 pull-left" id="commentFormBtns">
                        <button type="submit" class="btn button-indi" value="Submit" data-ng-click="checkReview()" data-ng-if="!showReviewSummary">Submit</button>
                        <button type="button" class="btn button-indi" value="Reset" data-ng-click="resetReviewForm();" data-ng-if="!showReviewSummary">Reset</button>
                        <button type="submit" class="btn button-primary" value="Submit" data-ng-click="postReview()" data-ng-if="showReviewSummary && !submittedReview">Submit</button>
                        <button type="button" class="btn button-info" value="Reset" data-ng-click="openReviewForm()" data-ng-if="showReviewSummary && !submittedReview">Edit</button>
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

          </div>
        </div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
