<link href="framework/css/productlist.css" rel="stylesheet"/>        


<!--mobile view -->
		<div class="container_side m-filter">
		
			
		</div>
		
         <!--mobile view -->
        <div class="container_side d-filter">
            
		<h4>Categories</h4>
			<p>All Results</p>
			
			<ul id="categories_list">
				<li><a href="">Clothing</a></li>
				<li><a href="">Arts and Crafts</a></li>
				<li><a href="">Craft Materials</a></li>
			</ul>
			
				
				<div id="slidecontainer">
					<p><b>PRICE (IN RM)</b></p>
				  <!--<input type="range" min="1" max="1000000" value="500" class="slider" id="myRange"-->
					
				
				<form action="/action_page.php">
				 RM: <input type="text" name="moneyfrom" maxlength="5" size="1">
				  to: <input type="text" name="lname" maxlength="5" size="1"><br>

				</form>
			
				</div>
			<br>
			
			<p><b>PRODUCT RATING</b></p>
			<div class="rate">
				<input class="star" type="radio" id="star5" name="rate" value="5" />

				<label  for="star5" title="text">★</label>

				<input class="star" type="radio" id="star4" name="rate" value="4" />

				<label for="star4" title="text">★</label>

				<input class="star" type="radio" id="star3" name="rate" value="3" />

				<label for="star3" title="text">★</label>

				<input class="star" type="radio" id="star2" name="rate" value="2" />

				<label for="star2" title="text">★</label>

				<input class="star" type="radio" id="star1" name="rate" value="1" />

				<label for="star1" title="text">★</label>

    </div>
	
			
			
		</div>
		
		<div class="container_productlist d-filter">
			<div class="row">
				<div class="col-md-12">
				<h4>Showing results for :XXX</h4>
				</div>
			
			</div>
			<div class="p_container">
				<div class="row">
					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

				</div>
			</div>
			
			<div class="p_container">
				<div class="row">
					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

					<div class="col-md-3">
							<div class="thumbnail">
								<a href=""><img src="images/product_icon.jpg" class="img-thumbnail"  alt="p1" width="200"> </a>
							</div>
					</div>

				</div>
			</div>		
		</div>
	