<link href="framework/css/sellingDashboard.css" rel="stylesheet"/>

<div class="row" style="margin-top:3%">
    <div class="col-xs-12 text-center">

        <h1>Selling Dashboard </h1>
        <p class="selling-subtext" >Track and improve your buisness.</p>

        <p style="display:inline-block;color:black;font-size:17px;font-weight:bold;margin-right:.5%" >RM0</p><p style="display:inline-block" class="selling-subtext">  total traded.</p>
    </div>  
</div>


<div class="row">
    <div class="col-xs-12">


    <div class="row" style="margin-top:4%">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 selling-background">
            <h3 style="color:white">My Active Merchandize</h3>
    
    
        </div>
        <div class="col-xs-1"></div>
     </div>


    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3" >      
            <h4>Name</h4>
        </div>

        <div class="col-xs-2" >          
            <h4>Price</h4>
        </div>
        <div class="col-xs-2" >        
            <h4>Stock Available</h4>
        </div>

        <div class="col-xs-3" ></div>
        <div class="col-xs-1"></div>
     </div>

     <div class="row ">
            <div class="col-xs-1"></div>
            <div class="col-xs-3 selling-content"  >      
                <h5>A piece of cloth</h5>
            </div>
    
            <div class="col-xs-2 selling-content" >          
                <h5>RM12</h5>
            </div>
            <div class="col-xs-2 selling-content" >        
                <h5>5</h5>
            </div>
    
            <div class="col-xs-3 selling-content" >     
                <div type="button" class="btn btn-selling">VIEW</div>
                <div type="button" class="btn btn-selling">EDIT</div>
                <div type="button" class="btn btn-selling">DELETE</div>
            </div>
            <div class="col-xs-1"></div>
      </div>

      <div class="row ">
            <div class="col-xs-1"></div>
            <div class="col-xs-3 selling-content"  >      
                <h5>A piece of noodle</h5>
            </div>
    
            <div class="col-xs-2 selling-content" >          
                <h5>RM20</h5>
            </div>
            <div class="col-xs-2 selling-content" >        
                <h5>15</h5>
            </div>
    
            <div class="col-xs-3 selling-content" >     
                <div type="button" class="btn btn-selling">VIEW</div>
                <div type="button" class="btn btn-selling">EDIT</div>
                <div type="button" class="btn btn-selling">DELETE</div>
            </div>
            <div class="col-xs-1"></div>
      </div>


      <div class="row " style="margin-bottom:5%">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 selling-instruction"  >      
                <p>These are the items that you current have on sell that can be viewed and bought by the public.</p>
            </div>
            <div class="col-xs-1"></div>
      </div>

      
        


    </div>

    
 </div>