<link href="framework/css/sellingDashboard.css" rel="stylesheet"/>

<div class="row" style="margin-top:3%">
    <div class="col-xs-12 text-center">

        <h1>Selling Dashboard </h1>
        <p class="selling-subtext" >Track and improve your buisness.</p>

        <p style="display:inline-block;color:black;font-size:17px;font-weight:bold;margin-right:.5%;" >RM{{totalRevenue}}</p><p style="display:inline-block" class="selling-subtext">  total traded.</p>
    
        <div>
        <p style="display:inline-block;color:black;font-size:17px;font-weight:bold;margin-right:.5%;margin-bottom:2%" >{{pendingTransaction}}</p><p style="display:inline-block" class="selling-subtext">  pending transactions.</p>
        </div>
        <div class="row" >
            <div class="col-xs-5">
            </div>
            <div style"margin-top:5%" class="col-xs-2 selling-border-top">
    
            </div>
            <div class="col-xs-5">
            </div>
        </div>
    </div>  
</div>


<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">

    <!-- My Active Merchandize -->
    <div class="row selling-background" style="margin-top:4%">

        <div class="col-xs-9 ">
            <h3 style="color:white">My Active Merchandize</h3>
    
    
        </div>
        <div class="col-xs-3 ">
            <p class="selling-links inline-block">Add New Merchandize</p>
            <span class="glyphicon glyphicon-plus-sign selling-glyphicon"></span>
        </div>

     </div>


    <div class="row">

        <div class="col-xs-1" >      
            <h4>ID:</h4>
        </div>
        <div class="col-xs-4" >      
            <h4>Name</h4>
        </div>

        <div class="col-xs-2" >          
            <h4>Price</h4>
        </div>
        <div class="col-xs-1" >        
            <h4>Stock Available</h4>
        </div>

        <div class="col-xs-4" ></div>

     </div>

     <div data-ng-repeat="m in sellerProducts">
     <div class="row selling-content">
      
            <div class="col-xs-1 " >      
                <h5>{{m.productID}} </h5>
            </div>
            <div class="col-xs-4 " >      
                <h5>{{m.productName}} </h5>
            </div>
    
            <div class="col-xs-2 " >          
                <h5>RM{{m.price}}</h5>
            </div>
            <div class="col-xs-1 " >        
                <h5>{{m.stock}}</h5>
            </div>
    
            <div class="col-xs-4">     
                <div type="button" class="btn btn-selling">VIEW</div>
                <div type="button" class="btn btn-selling">EDIT</div>
                <div type="button" class="btn btn-selling">DELETE</div>
            </div>

      </div>
      </div>

      <!--

      <div class="row selling-content ">
           
            <div class="col-xs-4 "  >      
                <h5>A piece of noodle</h5>
            </div>
    
            <div class="col-xs-2 " >          
                <h5>RM20</h5>
            </div>
            <div class="col-xs-2 " >        
                <h5>15</h5>
            </div>
    
            <div class="col-xs-4 " >     
                <div type="button" class="btn btn-selling">VIEW</div>
                <div type="button" class="btn btn-selling">EDIT</div>
                <div type="button" class="btn btn-selling">DELETE</div>
            </div>
   
      </div>

    -->

      <div class="row selling-instruction " style="margin-bottom:5%">

            <div class="col-xs-12"  >      
                <p>These are the items that you currently have on sell that can be viewed and bought by the public.</p>
            </div>

      </div>




      <!-- Pending Merchandize --> 
      <div class="row selling-background" style="margin-top:4%">
            
                    <div class="col-xs-10 ">
                        <h3 style="color:white">Pending Merchandize</h3>
                
                
                    </div>
                    <div class="col-xs-2 ">
                            <p style="margin-top:7%" class="selling-links inline-block">View All</p>
                            <span class="glyphicon glyphicon-play selling-glyphicon"></span>
                    </div>
            
        </div>

        <div class="row">
                
                        <div class="col-xs-3" >      
                            <h4>Product Name</h4>
                        </div>
                
                        <div class="col-xs-2" >          
                            <h4>Quantity</h4>
                        </div>
                        <div class="col-xs-2" >        
                            <h4>Phone Number</h4>
                        </div>
                
                        <div class="col-xs-3" >
                            <h4>Address</h4>
                        </div>

                        <div class="col-xs-1" >      
                        </div>     
        </div>
        
        <div class="row" data-ng-if="noOrders.length>0">
            <div class="col-xs-12">
                <h4 style="color: red">{{noOrders}}</h4>
            </div>
        </div>

        <div data-ng-repeat="o in buyerOrders | orderBy:orderDate:true">
        <div class="row selling-content">
                
            <div class="col-xs-3 "  >      
                 <h5>{{o.productName}}</h5>
            </div>
                    
            <div class="col-xs-2 " >          
                <h5>{{o.quantity}}</h5>
            </div>
            <div class="col-xs-2 " >        
                <h5>{{o.phoneNumber}}</h5>
            </div>

            <div class="col-xs-3 " >        
                <h5>{{o.address}}</h5>
            </div>
                    
            <div class="col-xs-1" >     
                <div style="margin-left:0%" type="button" data-toggle="modal" data-target="#shippingModal" class="btn btn-selling" data-ng-click="selectOrder(o)">DELIVERED</div>
            </div>
                
        </div>
        </div>

        <div class="row selling-instruction " style="margin-bottom:5%">
                
            <div class="col-xs-12"  >      
                <p>These are the items that are successfully purchased paid by the seller. Deliver the merchandize to their address and send them the tracking details as soon as possible. Once delivered, press "DELIVERED" button to confirm transaction.</p>
            </div>
                
        </div>


        <!-- Selling History --> 
        <div class="row selling-background" style="margin-top:4%">
            
                    <div class="col-xs-10 ">
                        <h3 style="color:white">Selling History</h3>
                
                
                    </div>
                    <div class="col-xs-2 ">
                            <p style="margin-top:7%" class="selling-links inline-block">View All</p>
                            <span class="glyphicon glyphicon-play selling-glyphicon"></span>
                    </div>
            
        </div>
        <div class="row">
                
                        <div class="col-xs-3" >      
                            <h4>Product Name</h4>
                        </div>
                
                        <div class="col-xs-2" >          
                            <h4>Transaction Date</h4>
                        </div>
                        <div class="col-xs-2" >        
                            <h4>Individual Price <br/> (with discounts)</h4>
                        </div>
                
                        <div class="col-xs-1" >
                            <h4>Quantity</h4>
                        </div>

                        <div class="col-xs-2" >     
                            <h4>Total Revenue </h4> 
                        </div> 
                        <div class="col-xs-1" >     
                        </div>     
        </div>
        <div class="row" data-ng-if="noSellerHistory.length>0">
            <div class="col-xs-12">
                <h4 style="color: red"><a href="#/sellingaddform">{{noSellerHistory}}</a></h4>
            </div>
        </div>

        <div data-ng-repeat="h in sellerHistory | orderBy:orderDate:true">
            <div class="row selling-content">
                    
                    <div class="col-xs-3 "  >      
                        <h5>{{h.productName}}</h5>
                    </div>
            
                    <div class="col-xs-2 " >          
                        <h5>{{h.orderDate}}</h5>
                    </div>
                    <div class="col-xs-2 " >        
                        <h5>RM {{checkDiscount(h.price,h.discount)}} ({{h.discount}}%)</h5>
                    </div>

                    <div class="col-xs-1 " >        
                        <h5>{{h.quantity}}</h5>
                    </div>

                    <div class="col-xs-2 " >        
                        <h5 class="selling-revenue">RM {{h.sales}}</h5>
                    </div>
                
                    <div class="col-xs-1" >     
                        <div style="margin-left:0%" type="button" data-toggle="modal" data-target="#undoShippingModal" class="btn btn-selling" data-ng-click="selectOrder(h)">UNDELIVERED</div>
                    </div>

            </div>
        </div>
<!--
        <div class="row selling-content ">
                
                 <div class="col-xs-3 "  >      
                     <h5>A piece of noodle</h5>
                 </div>
         
                 <div class="col-xs-2 " >          
                     <h5>27/10/2017</h5>
                 </div>
                 <div class="col-xs-2 " >        
                     <h5>RM20</h5>
                 </div>

                 <div class="col-xs-2 " >        
                    <h5>1</h5>
                 </div>

                <div class="col-xs-2 " >        
                    <h5 class="selling-revenue">RM20</h5>
                </div>
         
        </div>
    -->
        <div class="row selling-instruction " style="margin-bottom:5%">
                
            <div class="col-xs-12"  >      
                <p>These are the items that are successfully sold to the buyer.</p>
            </div>
                
        </div>



      <!-- Total Revenue Graph --> 
      <div class="row selling-background" style="margin-top:4%">
        
                <div class="col-xs-10 ">
                    <h3 style="color:white">Total Revenue</h3>
            
            
                </div>
                <div class="col-xs-2 ">
                  <!--      <p style="margin-top:7%" class="selling-links inline-block">View All</p>
                        <span class="glyphicon glyphicon-play selling-glyphicon"></span>-->
                </div>
        
      </div>

            <!-- Pending Merchandize --> 
            <div class="row " style="margin-top:3%;margin-bottom:5%">
                
                        <div class="col-xs-12 ">
                            <div id="graph-line" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                            
                        </div>
                 
              </div>

                    <!-- Daily Revenue Graph --> 
      <div class="row selling-background" style="margin-top:4%">
            
                    <div class="col-xs-10 ">
                        <h3 style="color:white">Daily Revenue {{graphUpdate}}</h3>
                
                
                    </div>
                    <div class="col-xs-2 ">
                      <!--      <p style="margin-top:7%" class="selling-links inline-block">View All</p>
                            <span class="glyphicon glyphicon-play selling-glyphicon"></span>-->
                    </div>
            
          </div>
    
                <!-- Pending Merchandize --> 
                <div class="row " style="margin-top:3%;margin-bottom:5%">
                    
                            <div class="col-xs-12 ">
                                <div id="graph-hist" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                                
                            </div>
                     
                  </div>

    </div>




    

    <div class="col-xs-1"></div>
 </div>


 <!-- Shipping Confirmation Modal -->
<div id="undoShippingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Merchandize Shipping Confirmation</h4>
            </div>
            <div class="modal-body">
              <p data-ng-if="!successDelivered">Are you sure you want to undo this merchandized as delivered?</p>
              <p data-ng-if="successDelivered">Successfully set as not delivered!</p>
              <div class="row selling-content" data-ng-class="{'alert': successDelivered, 'alert-success': successDelivered}">
                    <div class="col-xs-12"  >      
                        <h5>Product Name: {{selectedOrder.productName}}</h5>
                    </div>
                    <div class="col-xs-12"  >      
                        <h5><strong>Quantity:</strong> {{selectedOrder.quantity}}</h5>
                    </div>
                    <div class="col-xs-12" >          
                        <h5><strong>Date:</strong> {{selectedOrder.orderDate}}</h5>
                    </div>
                    <div class="col-xs-12" >          
                        <h5><strong>Username:</strong> {{selectedOrder.username}}</h5>
                   </div>
                    <div class="col-xs-12" >          
                        <h5><strong>Full name:</strong> {{selectedOrder.firstName + selectedOrder.lastName}}</h5>
                    </div>
                   <div class="col-xs-12" >          
                        <h5><strong>Address:</strong> {{selectedOrder.address}} {{selectedOrder.postcode}}</h5>
                    </div>
                   <div class="col-xs-12" >          
                        <h5><strong>State & Country:</strong> {{selectedOrder.state}} {{selectedOrder.country}}</h5>
                    </div>
                  <div class="col-xs-12" >        
                        <h5><strong>Email:</strong> {{selectedOrder.email}}</h5>
                    </div>
                  <div class="col-xs-12" >        
                        <h5><strong>Phone Number:</strong> {{selectedOrder.phoneNumber}}</h5>
                  </div>
            </div>
            <p style="color: red" data-ng-if="failDelivered">Sorry but it seems we can't set the order as delivered</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-ng-click="markDelivered(selectedOrder,0)" data-ng-if="!successDelivered">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-if="!successDelivered">No</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-if="successDelivered">Close</button>
            </div>
          </div>
      
        </div>
</div>

<div id="shippingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Merchandize Shipping Confirmation</h4>
            </div>
            <div class="modal-body">
              <p data-ng-if="!successDelivered">Are you sure you want to change this Merchandize's as delivered?</p>
              <p data-ng-if="successDelivered">Successfully set as delivered</p>
              <div class="row selling-content" data-ng-class="{'alert': successDelivered, 'alert-success': successDelivered}">
                    <div class="col-xs-12"  >      
                        <h5>Product Name: {{selectedOrder.productName}}</h5>
                    </div>
                    <div class="col-xs-12"  >      
                        <h5><strong>Quantity:</strong> {{selectedOrder.quantity}}</h5>
                    </div>
                    <div class="col-xs-12" >          
                        <h5><strong>Date:</strong> {{selectedOrder.orderDate}}</h5>
                    </div>
                    <div class="col-xs-12" >          
                        <h5><strong>Username:</strong> {{selectedOrder.username}}</h5>
                   </div>
                    <div class="col-xs-12" >          
                        <h5><strong>Full name:</strong> {{selectedOrder.firstName + selectedOrder.lastName}}</h5>
                    </div>
                   <div class="col-xs-12" >          
                        <h5><strong>Address:</strong> {{selectedOrder.address}} {{selectedOrder.postcode}}</h5>
                    </div>
                   <div class="col-xs-12" >          
                        <h5><strong>State & Country:</strong> {{selectedOrder.state}} {{selectedOrder.country}}</h5>
                    </div>
                  <div class="col-xs-12" >        
                        <h5><strong>Email:</strong> {{selectedOrder.email}}</h5>
                    </div>
                  <div class="col-xs-12" >        
                        <h5><strong>Phone Number:</strong> {{selectedOrder.phoneNumber}}</h5>
                  </div>
            </div>
            <p style="color: red" data-ng-if="failDelivered">Sorry but it seems we can't set the order as delivered</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-ng-click="markDelivered(selectedOrder,1)" data-ng-if="!successDelivered">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-if="!successDelivered">No</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-if="successDelivered">Close</button>
            </div>
          </div>
      
        </div>
</div>



<script>


     setTimeout(function(){ 

        var graphBool = false;

        setInterval(function(){

        
            if(window.graphUpdate == !graphBool)
            {
                windowPlot();
                alert("called");
                graphBool = !graphBool;
            }

        },100);

        windowPlot();

        function windowPlot()
        {

        var graphDataLine = new Array();
        var graphDataHist = new Array();
        var graphDataIndi = new Array();

        var graphDataIndiEval = "[{name: 'All',data: graphDataLine } ";

        for (var i=0; i< window.graphPlotLine.length; i++)
        {
            graphDataLine[i] = [Date.UTC(window.graphPlotLine[i][0],window.graphPlotLine[i][1],window.graphPlotLine[i][2]),window.graphPlotLine[i][3]]
        }

        for (var i=0; i< window.graphPlotHist.length; i++)
        {
            graphDataHist[i] = [Date.UTC(window.graphPlotHist[i][0],window.graphPlotHist[i][1],window.graphPlotHist[i][2]),window.graphPlotHist[i][3]]
        }

        for (var i=0; i< window.graphPlotIndi.length; i++)
        {
         
                graphDataIndi[i] = window.graphPlotIndi[i][2];  

                graphDataIndiEval += ",{ name: '"+window.graphPlotIndi[i][1].toString()+"' , data:[";

                

                for(var x=0; x < window.graphPlotIndi[i][2].length; x++)
                {
                
                    graphDataIndiEval += "["
                    graphDataIndiEval +=  window.graphPlotIndi[i][2][x].toString();
                    graphDataIndiEval += "],";
                }
                graphDataIndiEval = graphDataIndiEval.substring(0,graphDataIndiEval.length-1);

                graphDataIndiEval += "]}"

        
        }

        graphDataIndiEval += "]";

        console.log(graphDataIndiEval);

        

      Highcharts.chart('graph-line', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Total Sales Revenue'
        },
        subtitle: {
            text: 'Source: Deallo.com'
        },
        xAxis: {
            type: 'datetime',
    
        title: {
            text: 'Date'
        }
        },
        yAxis: {
            title: {
                text: 'Total Revenue (RM)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: eval(graphDataIndiEval)
      });

    Highcharts.chart('graph-hist', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: Deallo.com'
    },
    xAxis: {
        type: 'datetime',

    title: {
        text: 'Date'
    }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'All',
        data: graphDataHist
        
    }] 
});
}
    },1000);

</script>