<link href="framework/css/sellingDashboard.css" rel="stylesheet"/>

<div class="row">
    <div class="col-xs-12 text-center">

        <h1>Selling Dashboard </h1>
        <p class="selling-subtext" >Track and improve your buisness.</p>

        <p style="display:inline-block;color:black;font-size:17px;font-weight:bold;margin-right:.5%" >RM0</p><p style="display:inline-block" class="selling-subtext">  total traded.</p>
    </div>  
</div>


<div class="row">
    <div class="col-xs-12">


    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 selling-background">
            <h3 style="color:white">My Active Merchandize</h3>
    
    
        </div>
        <div class="col-xs-1"></div>
     </div>


    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 selling-background" >
            
    
    
        </div>
        <div class="col-xs-1"></div>
     </div>
        


    </div>
 </div>