<link href="framework/css/userprofile.css" rel="stylesheet"/>        
	 
	<div class="container">	
		 <div class="row displayuser">
			<div class="col-md-12">
				<p><b>User Name</b></p>
				<p>Account Dashboard</p>
				
			 </div>
		 </div>
		
		<div class="row accountcontainer">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						
	
					</div>
					
					<div class="col-md-1">
						<p class="edittext"><a>EDIT</a></p>
					</div>
					
					<div class="col-md-3">
						<p class="edittext"><a>CHANGE PASSWORD</a></p>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<p><b>Name</b>: XXX</p>
						<p><b>Email</b>: XXX</p>
						<p><b>Mobile Number</b>: XXX</p>
						<p><b>Shipping Address</b>: XXXX</p>
					</div>	
				</div>		
			 </div>
		 </div>
		<br/>
		<div class="row displayuser">
			<div class="col-md-12">
				
				<p>Recent Orders</p>
				
			 </div>
		 </div>
		
		<div class="row accountcontainer centertext">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<p><b>Product Name</b></p>
						
					</div>
					
					<div class="col-md-3">
						<p><b>Quantity</b></p>
					</div>
					
					<div class="col-md-3">
						<p><b>Placed on</b></p>
					</div>
					
					<div class="col-md-3">
						<p><b>Total(RM)</b></p>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<p>Noodles</p>
						
					</div>
					
					<div class="col-md-3">
						<p>2</p>
					</div>
					
					<div class="col-md-3">
						<p>3/10/17</p>
					</div>
					
					<div class="col-md-3">
						<p>RM10</p>
					</div>
				</div>		
			 </div>
		 </div>
		
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  	</div>
            