<link href="framework/css/userprofile.css" rel="stylesheet"/>    
	<div class="container-fluid">	
		 <div class="row displayuser">
			<div class="col-md-12">
				<p><b>Change Password</b></p>
				
				
			 </div>
		 </div>
		
		<div class="row accountcontainer ">
			<div class="col-md-12">
				
				<div class="row centertext ">
					<div class="col-md-12">
						<form>
							
							<label for="cpassword" >Current Password*</label>
							<p><input type="text" id="cpassword" size="50"/></p>
							
							
							
							<label for="npassword" >New Password*</label>
							<p>
							<input type="text" id="npassword" size="50"/>
							</p>
							
							<label for="renpassword" >Retype New Password*</label>
							<p>
							<input type="text" id="renpassword" size="50"/>
							</p>
							
							<p>
								<button type="button" class="btn btn-secondary" value="Submit"><b>CANCEL</b></button>
								<button type="submit" class="btn btn-warning" value="Submit" data-ng-click="checkUserInfoEdit()">SAVE</button>
							</p>
							

						</form>
					</div>	
				</div>		
				

				
				
				
				
			 </div>
		 </div>
		<br/>
	
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  	</div>
            