<link href="framework/css/userprofile.css" rel="stylesheet"/>
	 <div class="container">	
		 <div class="row displayuser">
			<div class="col-md-12">
				<p><b>{{userProfile.username}}</b></p>
				<p>Account Dashboard</p>
				
			 </div>
		 </div>
		
		<div class="row accountcontainer">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						
	
					</div>
					
					<div class="col-md-1" data-ng-if="accountID == userProfile.accountID">
						<p class="edittext"><a href="#!/edit_profile">EDIT</a></p>
					</div>
					
					<div class="col-md-3" data-ng-if="accountID == userProfile.accountID">
						<p class="edittext"><a href="#!/edit_password">CHANGE PASSWORD</a></p>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<p><b>Name</b>: {{userProfile.firstName}} {{userProfile.lastName}}</p>
						<p><b>Email</b>: {{userProfile.email}}</p>
						<p><b>Mobile Number</b>: {{userProfile.phoneNumber}}</p>
						<p><b>Shipping Address</b>: {{userProfile.address}}</p>
						<p><b>City</b>: {{userProfile.city}}</p>
						<p><b>Postcode</b>: {{userProfile.address}}</p>
						<p><b>State & Country</b>: {{userProfile.state}}, {{userProfile.country}}</p>
					</div>	
				</div>		
			 </div>
		 </div>
		<br/>
		<div class="row displayuser">
			<div class="col-md-12">
				
				<p>Recent Orders</p>
				
			 </div>
		 </div>
		
		<div class="row accountcontainer centertext">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<p><b>Product Name</b></p>		
					</div>
					
					<div class="col-md-1">
						<p><b>Quantity</b></p>
					</div>
					
					<div class="col-md-3">
						<p><b>Placed on</b></p>
					</div>
					
					<div class="col-md-3">
						<p><b>Total(RM)</b></p>
					</div>
                    <div class="col-md-2">
						<p><b>Order Status</b></p>
					</div>
				
				</div>
				
                <div data-ng-repeat="product in recentOrders | orderBy:orderDate:true">
                    <div class="row">
                        <div class="col-md-3">
                            <p><a href="#!/product/{{product.productID}}">{{product.productName}}</a></p>
                        </div>

                        <div class="col-md-1">
                            <p>{{product.quantity}}</p>
                        </div>

                        <div class="col-md-3">
                            <p>{{product.orderDate}}</p>
                        </div>

                        <div class="col-md-3">
                            <p>RM {{product.TotalPrice}}</p>
                        </div>
                        <div class="col-md-2">
                            <p data-ng-if="product.orderStatus == 0" class="label label-info" style="font-size: 100%">Pending</p>
                            <p data-ng-if="product.orderStatus == 1" class="label label-success" style="font-size: 100%">Recieved</p>
                        </div>
                    </div>	
                </div>
			 </div>
		 </div>
		
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  	</div>
            