<link href="framework/css/userprofile.css" rel="stylesheet"/>
	<div class="container-fluid">	
		 <div class="row displayuser">
			<div class="col-md-12">
				<p><b>Change Password</b></p>
			 </div>
		 </div>
		
		<div class="row accountcontainer ">
			<div class="col-md-12">
				
				<div class="row centertext ">
					<div class="col-md-12">
						<form name="editPasswordForm">
							<label for="cpassword" >Current Password*</label>
							<p><input type="password" id="cpassword" size="50" data-ng-model="currentPassword" min="6" data-ng-required="true" required="required" value="" data-ng-model-options="{updateOn: 'blur'}"/></p>
							<label for="npassword">New Password*</label>
							<p>
							<input type="password" name="newpassword" id="npassword" size="50" data-ng-model="newPassword" data-ng-minlength="6" data-ng-required="true" required="required" value="" data-ng-model-options="{updateOn: 'blur'}"/>
                            </p>							
							<label for="renpassword" >Retype New Password*</label>
							<p>
							<input type="password" name="confirmpassword" id="renpassword" size="50" data-ng-model="confirmPassword" data-ng-minlength="6" data-ng-required="true" required="required" value="" data-ng-model-options="{updateOn: 'blur'}"/>
							</p>
							
							<p>
								<button type="button" class="btn btn-secondary" value="Submit" ata-ng-click="back()"><b>CANCEL</b></button>
								<button type="submit" class="btn btn-warning" data-ng-disabled="!checkUserPasswordEdit()" value="Submit" data-toggle="modal" data-target="#confirmation">SAVE</button>
							</p>
							

						</form>
					</div>	
				</div>		
		
			 </div>
		 </div>
		<br/>
        
        <div id="confirmation" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm password edit</h4>
              </div>
              <div class="modal-body">
                <p data-ng-if="!successEdit">Are you sure you want to change your password? <br/>(Please remember you're new password after saving).</p>
                <p data-ng-if="successEdit" class="alert alert-success">
                    Successfully changed your password!
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-if="!successEdit">Cancel</button>
                <button type="submit" class="btn btn-primary" data-ng-click="saveNewPassword()" data-ng-if="!successEdit">Save</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" data-ng-click="backAfterSaving()" data-ng-if="successEdit">Go Back</button>
              </div>
            </div>

          </div>
        </div>

		
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  	</div>
        
