<link href="framework/css/userprofile.css" rel="stylesheet"/>    	 
	<div class="container-fluid">	
		 <div class="row displayuser">
			<div class="col-md-12">
				<p><b>My Personal Information</b></p>
				
				
			 </div>
		 </div>
		
		<div class="row accountcontainer ">
			<div class="col-md-12">
				
				<div class="row centertext ">
					<div class="col-md-12">
						<form>
							
							<label for="emailedit" >Email Address:</label>
							<p><input type="text" id="emailedit" size="50"/></p>
							
							
							
							<label for="phoneedit" >Phone Number:</label>
							<p>
							<input type="text" id="phoneedit" size="50"/>
							</p>
							
							<b>Shipping Address:</b>
							<p><textarea rows="5" cols="50"></textarea></p>
							
							<p>
								<button type="button" class="btn btn-secondary" value="Submit"><b>CANCEL</b></button>
								<button type="submit" class="btn btn-warning" value="Submit" data-ng-click="checkUserInfoEdit()">SAVE</button>
							</p>
							

						</form>
					</div>	
				</div>		
				

				
				
				
				
			 </div>
		 </div>
		<br/>

		
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  	</div>
            