@font-face {
    font-family: Futura;
    src: url("fonts/Futura Book Oblique.otf") format("opentype");
}

*
{
  font-family: Futura;
}


.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.navbar{
    margin-bottom: 0px;
}

/* First Text users will see upon entering website */
.welcome-text{
  border-right:1px solid black;
  display:table;
  border-collapse: collapse;
  padding-right:2%;
  font-size: 40px;
  margin-top: 1.3% !important;

}

/* To align center for block elements */
p.align-center{
  margin: 0 auto;

}

img.align-center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

img.img-hompage-background-1
{
  width:45%;

}

.homepage-background-color{
  background:	#FDFFF1;
}

.join-button{
  background: #6495E4;

}

.join-button:hover{
  background: #8BB2EF;
  cursor: pointer;
}

.join-button-text{
  color:white;
  font-size:18px;
  margin-top: 0.8%;
}

.glyphicon-welcome
{
  font-size: 50px;
  margin-top: 20%;
}

.glyphicon-welcome-text
{
  margin-top: 5%;
  font-size:20px;
}

.glyphicon-welcome-arrow
{
  margin-top: -70px ;
  font-size: 25px;
}

.glyphicon-welcome-arrow-2
{
  margin-top: 86px ;
  font-size: 25px;
}

.glyphicon-welcome-text-3
{
  margin-top: 5%;
  font-size:20px;

}

.home-button-join
{
  box-shadow: 0px 4px 2px rgba(0,0,0,0.3);
  margin-bottom: 4px;
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
}
.home-button-view
{
  box-shadow: 0px 4px 2px rgba(0,0,0,0.3);
  background: #4caf50;
  color:white;
    margin-left: 20px;
    margin-bottom: 4px;
    padding: 10px;
    font-size: 20px;
}

.home-buttons
{
  margin-top:0%;
  margin-bottom: 0%;
}

.glyphicon-welcome-desc
{
  color:darkgray;
}

.appear-1,.appear-2,.appear-3
{
  opacity: 0;
  margin-top:10%;
  margin-bottom:-10%;
}




/*** Form onwards ***/

.form-control-reg {
  display: block;
 margin: 0 auto;
 width: 100%;
 height: 50px;
 padding: 6px 12px;
 font-size: 18px;
 line-height: 1.42857143;
 color: #555;
 background-color: transparent;
 background-image: none;

 border:0px solid ;
 border-bottom: 2px solid;
 border-color: black;

 outline: none;
   -webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
   -o-transition: all 1.5s ease;
   transition: all 1.5s ease;


}

.circle-next
{
    cursor: pointer;
                            color:black;
                            background-color:transparent;
                            border:1px solid black;
                            height:43px;
                            border-radius:50%;
                            -moz-border-radius:50%;
                            -webkit-border-radius:50%;
                            width:43px;
                            display:inline-block;
                           padding-top: 8px;
                           /* Changed to 1s 18 August 2017*/
        transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    padding-left:0px;
    font-size:20px;
}


.circle-done
{

                            color:#39FF14;
                            background-color:transparent;
                            border:1px solid #39FF14;
                            height:60px;
                            border-radius:50%;
                            -moz-border-radius:50%;
                            -webkit-border-radius:50%;
                            width:60px;
                            display:inline-block;
                           padding-top: 8px;
                           /* Changed to 1s 18 August 2017*/
        transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    padding-left:13px;
    padding-top:15px;
    font-size:13px;
    margin:0 auto;
    

    
}

.form-complete
{
    margin-top:35%;
    margin-bottom:50%;
    opacity:0;
    display:none;
}

.animate-field
{
  margin-top:8%;
  margin-bottom:-8%;
  margin-left:2.5%;
  font-size:16px;
  visibility: hidden;
  color:darkgray;
}


.button-next
{
  background: #4caf50;
  color:white;
  margin-bottom:5%;

}



.discount-text
{
  color:white;
  font-size:54px;
  margin-top: 7%;
  margin-bottom:3%;
}

.buttons-hover {
  display: table;
  height: 100%;
  width: 100%;
}

.container-hover {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  background: $red;


}


.btn-hover {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;


  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

.btn-11 {
  background: darken($red, 1.5%);
  font-weight: 100;




}

.btn-11 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }


.btn-11 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }

.btn-11:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;
    text-decoration: none;


  color:red;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;

}

.button-view-listing
{
  margin-bottom: 3%;
}

.search-item-button
{
  margin-top:5%;
  color:white;
  background: #4caf50;

}

.glyphicon-list-search-item
{
  display:block;
  font-size:45px;
  margin-top: 13%;
}

.border-right-dark-gray
{
  border-right: 1px solid darkgray;

}

.registered-hompage-selection
{
  margin-top: 2%;
  margin-bottom: 2%;
}


