@font-face {
    font-family:Futura;
    src:   url('Futura Book Italic font.ttf')  format('truetype');

}

*
{
  font-family: Futura;
}


.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

/* First Text users will see upon entering website */
.welcome-text{
  border-right:1px solid black;
  display:table;
  border-collapse: collapse;
  padding-right:2%;
  font-size: 40px;
  margin-top: 4% !important;
  margin-bottom: 5% !important;
}

/* To align center for block elements */
p.align-center{
  margin: 0 auto;

}

img.align-center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

img.img-hompage-background-1
{
  width:45%;

}

.homepage-background-color{
  background:	#FDFFF1;
}

.join-button{
  background: #6495E4;

}

.join-button:hover{
  background: #8BB2EF;
  cursor: pointer;
}

.join-button-text{
  color:white;
  font-size:18px;
  margin-top: 0.8%;
}

.glyphicon-welcome
{
  font-size: 50px;
  margin-top: 35%;
}

.glyphicon-welcome-text
{
  margin-top: 5%;
  font-size:20px;
  margin-bottom: 0%;
}

.glyphicon-welcome-arrow
{
  margin-top: -15% ;
  font-size: 25px;
}



.glyphicon-welcome-text-3
{
  margin-top: 5%;
  font-size:20px;
  margin-left:0%;
}

.glyphicon-animate-1,.glyphicon-animate-2,.glyphicon-animate-3
{
  opacity: 0;
}

.glyphicon-welcome-secondary-text
{
  margin-top:3%;
  color:darkgrey;
  margin-bottom: 10%;
}

.discount-text
{
  color:white;
  font-size:54px;
  margin-top: 16%;
  margin-bottom:3%;
}

.buttons-hover {
  display: table;
  height: 100%;
  width: 100%;
}

.container-hover {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  background: $red;


}


.btn-hover {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;


  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

.btn-11 {
  background: darken($red, 1.5%);
  font-weight: 100;




}

.btn-11 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }


.btn-11 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }

.btn-11:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;
    text-decoration: none;


  color:red;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;

}

.button-view-listing
{
  margin-bottom: 14%;
}

.search-item-button
{
  margin-top:5%;
  color:white;
  background: #4caf50;

}

.glyphicon-list-search-item
{
  display:block;
  font-size:45px;
  margin-top: 13%;
}

.border-right-dark-gray
{
  border-right: 1px solid darkgray;

}

.registered-hompage-selection
{
  margin-top: 2%;
  margin-bottom: 2%;
}

.list-item-button
{

}
