@font-face {
    font-family: Futura;
    src: url("fonts/Futura Book Oblique.otf") format("opentype");
}

*
{
  font-family: Futura;
}


.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.navbar{
    margin-bottom: 0px;
}

/* First Text users will see upon entering website */
.welcome-text{
  border-right:1px solid black;
  display:table;
  border-collapse: collapse;
  padding-right:2%;
  font-size: 40px;
  margin-top: 1.3% !important;

}

/* To align center for block elements */
p.align-center{
  margin: 0 auto;

}

img.align-center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

img.img-hompage-background-1
{
  width:45%;

}

.homepage-background-color{
  background:	#FDFFF1;
}

.join-button{
  background: #6495E4;

}

.join-button:hover{
  background: #8BB2EF;
  cursor: pointer;
}

.join-button-text{
  color:white;
  font-size:18px;
  margin-top: 0.8%;
}

.glyphicon-welcome
{
  font-size: 50px;
  margin-top: 20%;
}

.glyphicon-welcome-text
{
  margin-top: 5%;
  font-size:20px;
}

.glyphicon-welcome-arrow
{
  margin-top: -70px ;
  font-size: 25px;
}

.glyphicon-welcome-arrow-2
{
  margin-top: 86px ;
  font-size: 25px;
}

.glyphicon-welcome-text-3
{
  margin-top: 5%;
  font-size:20px;

}

.home-button-join
{
  background: #4caf50;
  color:white;

}
.home-button-view
{
  background: #4caf50;
  color:white;
}

.home-buttons
{
  margin-top:0%;
  margin-bottom: 0%;
}

.glyphicon-welcome-desc
{
  color:darkgray;
}

.appear-1,.appear-2,.appear-3
{
  opacity: 0;
  margin-top:10%;
  margin-bottom:-10%;
}




/*** Form onwards ***/

.form-control-reg {
  display: block;
 margin: 0 auto;
 width: 100%;
 height: 50px;
 padding: 6px 12px;
 font-size: 18px;
 line-height: 1.42857143;
 color: #555;
 background-color: transparent;
 background-image: none;

 border:0px solid ;
 border-bottom: 2px solid;
 border-color: black;

 outline: none;
   -webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
   -o-transition: all 1.5s ease;
   transition: all 1.5s ease;


}

.circle-next
{
    cursor: pointer;
                            color:black;
                            background-color:transparent;
                            border:1px solid black;
                            height:43px;
                            border-radius:50%;
                            -moz-border-radius:50%;
                            -webkit-border-radius:50%;
                            width:43px;
                            display:inline-block;
                           padding-top: 8px;
                           /* Changed to 1s 18 August 2017*/
        transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    padding-left:0px;
    font-size:20px;
}


.circle-done
{

                            color:#39FF14;
                            background-color:transparent;
                            border:1px solid #39FF14;
                            height:60px;
                            border-radius:50%;
                            -moz-border-radius:50%;
                            -webkit-border-radius:50%;
                            width:60px;
                            display:inline-block;
                           padding-top: 8px;
                           /* Changed to 1s 18 August 2017*/
        transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    padding-left:13px;
    padding-top:15px;
    font-size:13px;
    margin:0 auto;
    

    
}

.form-complete
{
    margin-top:35%;
    margin-bottom:50%;
    opacity:0;
    display:none;
}

.animate-field
{
  margin-top:8%;
  margin-bottom:-8%;
  margin-left:2.5%;
  font-size:16px;
  visibility: hidden;
  color:darkgray;
}


.button-next
{
  background: #4caf50;
  color:white;
  margin-bottom:5%;

}