@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura BOok font.ttf')format('truetype');
}

body{
    padding-top: 50px;
    font-family: 'Futura', sans-serif;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
}

#content{
    padding-bottom: 163px;
}

.navbar .nav{
    font-size: 18px;
    margin-top: 5px;
}

.navbar-search{
    margin: 20px;
}

.navbar-brand>img {
    margin-top: -10px;
    height: auto;
    width: 145px;
}

.navbar-search button,
.navbar-search input {
    margin-left: 0px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    height: 40px;
}

#search-btn-group{
        width:20%;
}

#normalSearch{
       border-left: 0;
    border-radius: 0px;
}

.navbar-search input-group{
    width: 0px;
}

.navbar-collapse .navbar-search input {
		font-size: 14pt;
		box-shadow: none;
	}

#register-here{
    text-align: center;
    color: white;
}

#register-here button{
    margin-top: 0px;
}

#login-btn{
    margin-top: 5px;
    margin-right: 15px;
    text-decoration: none;
}

#loginRegister{
        margin-right:10px;
    }

.btn-register{
    background: -moz-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
    background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
    color: black;
}

.btn-register:hover{
    background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
}

.btn-register:focus:active{
    background: -moz-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
    background: -webkit-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
    background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
}

.btn-login{
    background: -moz-linear-gradient(top, #b6e026 0%, #abdc28 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%,#abdc28 100%);
    background: linear-gradient(to bottom, #b6e026 0%,#abdc28 100%);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    color: white;
}

.btn-login:hover{
    background: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%);
    background: -webkit-linear-gradient(top, #8fc400 0%,#8fc400 100%);
    background: linear-gradient(to bottom, #8fc400 0%,#8fc400 100%);
    color: white;
}

.btn-login:active{
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%);
    background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);
    color: #11bca4;
}

.navbar-btn{
    margin-top: 10px;
}

#navlogo-small{
    display:none;
}

#normalSearch{
        display: inline;
    }
    
    #smallSearch{
        display: none;
    }

@media(max-width:768px) {
    .navbar-search {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        border: 0;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #search-btn-group{
        width:1%;
    }
    
    .search-menu{
        margin-left: -50px;
    }
    
    .navbar-search input {
        outline: none;
        height: 40px;
    }
    
    #smallSearch{
        border-left: 1px solid grey;
        border-radius: 0px;
        display: inline;
    }
    
    #normalSearch{
        display: none;
    }
    
    .navbar .nav{
        text-align: center;
    }
    .navbar-brand>img {
        height:auto;
        width:220px
    }
    
    .search-menu{
        margin-left: -100px;
    }

    .navbar-btn {
        width: 100%;
        margin-top: 0;
    }

    .navbar.navbar-default .navbar-nav {
      margin-top: 0px;
    }

    .navbar-collapse.in {
    overflow-y: visible;
    }

    #login-btn{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        margin: 0px;
        text-decoration: none;
    }
    
    #loginRegister{
        margin:auto;
    }

    #navlogo-small{
        display:inline;
    }

    #navlogo{
        display:none;
    }

}

/*with help using
https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
*/
.navbar-default {
  background-color: rgba(34,96,194,0.8);
  border-color: #4129c8;
}
.navbar-default .navbar-brand {
  color: #b7f8ef;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #11bca4;
}
.navbar-default .navbar-text {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
    background-color: #4129c8;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2260c2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #4129c8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #4129c8;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #11bca4;
  background-color: #4129c8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #11bca4;
  background-color: #4129c8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #11bca4;
  background-color: #4129c8;
}
.navbar-default .navbar-toggle {
  border-color: #4129c8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4129c8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b7f8ef;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFFFFF;
}
.navbar-default .navbar-link {
  color: #FFFFFF;
}
.navbar-default .navbar-link:hover {
  color: #11bca4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: #4129c8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #11bca4;
    background-color: #4129c8;
  }
}


.footer-default {
    position:absolute;
    width:100%;
    height:auto;
    bottom: 0;
    padding-bottom:20px;

    background-color: #2260c2;
    border-top: 4129c8;
    color:white;
}

#linkBackToTop{
    text-decoration: none;
}

.backToTop{
    text-align: center;
    background-color: #6495E4;
    text-decoration: none;
    margin-bottom: 40px;
    padding: 15px
}

.backToTop:hover{
    background-color: #8BB2EF;
}

.backToTopText{
    color: white;
    text-decoration: none;
}
