.selling-subtext
{
    color:#777;
    font-size:16px;
}

.selling-background
{
    background:#333;
}

.selling-content
{
    background: rgba(158,158,158,.2);
    border-top: darkgray solid 1px;
    padding-top:1%;
    padding-bottom:1%;
}

.selling-instruction 
{
    background: rgba(158,158,158,.2);
    padding-top: 0.5%;
    border-bottom: darkgray solid 1px;
}

.btn-selling
{
    border:black solid 1px;
    margin-bottom:0.5%;
}
