<!DOCTYPE html>
<html data-ng-app="mainApp">
   <head>
       <title>Deallo House</title>
       <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
       <!-- Bootstrap -->
       <link href="framework/css/bootstrap.min.css" rel="stylesheet"/>
       <link href="framework/css/bootstrap-select.min.css" rel="stylesheet"/>
       <link href="framework/css/navFooter.css" rel="stylesheet"/>
       <!-- Newest version of JQuery -->
       <!--My stylesheet-->
       <!--<link href="framework/css/" rel="stylesheet"/>-->
       <!--HTML5 Shim and Respond.js, IE8 support of HTML5 elements and media queries -->
       <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
       <!-- [if lt IE9]>
<script src="framework/js/html5shiv.js"></script>
<script src="framework/js/respond.min.js"></script>
<![endif]-->
   </head>
    <body data-ng-controller="mainCtrl">
        <a id="nav-top"></a>
        <!--Full width navigation bar lies here-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <img alt="Deallo" src="images/logo.png" id="navlogo">
                        <img alt="Deallo" src="images/logo-small.png" id="navlogo-small">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop by Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">All categories</a></li>
                                <li><a href="">Clothing</a></li>
                                <li><a href="">Arts and Crafts</a></li>
                                <li><a href="">Craft Materials</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left navbar-search">
                    <div class="form-group">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search a product!" id="searchBar" data-ng-model="searchText"/>
                            <div class="input-group-btn" id="search-btn-group">
                                <select class="selectpicker" data-ng-model="categorySelect" id="search-menu">
                                    <option value="All Categories">All categories</option>
                                    <option value="Clothing">Clothing</option>
                                    <option value="Arts and Crafts">Arts and Crafts</option>
                                    <option value="Craft Materials">Craft Materials</option>
                                </select>
                                <button type="submit" class="btn btn-warning" data-ng-click="search()">
                                    Search <span class="glyphicon glyphicon-search">
                                        <span class="sr-only">Search</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="">About us</a>
                    </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="loginRegister">
                        <li>
                            <button class="btn btn-login navbar-btn" id="login-btn">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                            </button>
                        </li>
                        <li>
                            <p id="register-here"><small>Not a member?</small>
                            <br/>
                            <button class="btn btn-register navbar-btn">
                            <span class="glyphicon glyphicon-bookmark"></span> Register
                            </button></p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <data-ng-view>
            </data-ng-view>
        </div>
            
        <!--Footer is here-->
        <footer class="footer-default">
            <div class="container">
                <nav>
                <div class="row">
                    <div class="col-xs-12">
                    <ul class="nav nav-pills">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Products</a></li>
                        <li><a href="index.html">About us</a></li>
                        <li><button class="btn btn-lg btn-warning" id="disclaimerFooter">Disclaimer</button></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><img src="images/logo-footer.png" alt="Deallo Logo" id="footerBrandImg"/></li>
                    </ul>
                    </div>
                </div>
                </nav>
            </div>
        </footer>
        <!--jQuery - required for Bootstrap's Javascript plugins-->
        <script src="framework/js/jquery-3.1.1.min.js"></script>
        <!--All bootstrap plugins file-->
        <script src="framework/js/bootstrap.min.js"></script>
        <script src="framework/js/angular.min.js"></script>
        <script src="framework/js/bootstrap-select.js"></script>
        <!--My controller-->
        <!--<script src=""></script>-->
        <script src="framework/js/main.js"></script>
    </body>
</html>
